* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*-------------- GENERELLE INDSTILLINGER -----------------*/

html {
    scroll-behavior: smooth;
}

.sectionwrapper {
    display: flex;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, .1);
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

header img {
    margin: auto;
    width: 20vw;

}





















































































/*-------------- NAV -----------------*/

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 20px;

}

nav a:hover {
    color: #f7c3bb;
}

nav {
    margin: 10px 0 10px 0;
    position: fixed;
    top: 2vw;
    left: 20vw;
    display: inline;
}

header {
    background-color: white;
}










































/*-------------- FOOTER -----------------*/















































/*-------------- #FORSIDE -----------------*/


#forside p {

    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
}


#forside H2 {

    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
    border: solid black;
    width: 140px
}

#forside H1 {

    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
}

#forside H3 {

    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
}


.splash_forside img {
    width: 100%;
}



























































































/*-------------- #SHOP -----------------*/




































































































/*-------------- #HAANDVAERKERE -----------------*/


#splash_haandvaerker {
    height: 10vw;
    width: 100vw;
}

#image_haandvaerker {
    background-image: url(billeder/1.jpg);
    width: 100vw;
    height: 75vw;
    background-size: cover;
}

#haandvaerker1 .sectionwrapper {
    flex-wrap: wrap-reverse;
}



#haandvaerker1 .text {
    flex-basis: 400px;
}

#haandvaerker1 .image {
    flex-basis: 400px;
}

#haandvaerker2 .text {
    flex-basis: 400px;
}

#haandvaerker2 .image {
    flex-basis: 400px;
}

#haandvaerkere img {
    width: 100%;
}

































































































/*-------------- #OM_OS -----------------*/



































































































/*-------------- #KONTAKT -----------------*/



































































































/*-------------- #KURV -----------------*/

































































































/*-------------- #CHECKOUT -----------------*/
