* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*-------------- GENERELLE INDSTILLINGER -----------------*/

html {
    scroll-behavior: smooth;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img {
    margin-top: 10px;
    width: 50vw;
    left: 25vw;
    position: fixed;

}

img {
    width: 100%;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.spacer {
    height: 106px;
}





















































































/*-------------- NAV -----------------*/

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;

}

nav a:hover {
    color: #f7c3bb;
}

nav {
    margin: 0px 0 10px 0;
    position: fixed;
    top: 2vw;
    left: 20vw;
    display: flex;
    flex-direction: column;

}

header {
    background-color: white;
    height: 106px;
    width: 100%;
    position: fixed;
    z-index: 100;
}



#menuknap {
    display: inline-block;
    position: relative;
    top: 4vw;
    left: -10vw;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #f7c3bb;
}












































/*-------------- FOOTER -----------------*/

/*
footer .col {
    flex-basis: 200px;
    padding: 20px;
    margin-right: 20px;

}

footer .sectionwrapper {
    background-color: #f7c3bb;
    font-family: 'Tenor Sans', sans-serif;
    justify-content: flex-start;
    padding-left: 5vw;
}
*/

footer p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 0.8rem;
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 17px;


}

footer {
    background-color: #f7c3bb;
    margin-top: 100px;


}













































/*-------------- #FORSIDE -----------------*/


.splash_text {

    position: relative;
    top: -40vw;
    color: white;
    border: white;
}

#forside h1 {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 10vw;
    text-align: center;
}

#forside h2 {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 8vw;

    border: solid black;
    width: 140px;
    text-align: center;
}

#forside h3 {
    font-weight: 100;
    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 6vw;
    margin: 0;
    text-align: center;
}

#forside p {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 5vw;

    text-align: center;
}


img {
    width: 100%;
}

#forside .col1 {
    justify-content: center;
    position: relative;
    top: -40vw;
    display: flex;
    flex-wrap: wrap;
}

#forside .col2 {
    justify-content: center;
    position: relative;
    top: -40vw;
    display: flex;
    flex-wrap: wrap;
}

#forside .col3 {
    justify-content: center;
    position: relative;
    top: -40vw;
    display: flex;
    flex-wrap: wrap;
}


#forside .image {
    flex-basis: 400px;

}

#forside .title {
    flex-basis: 400px;
    position: relative;
    top: 60px;
}

#forside .text {
    flex-basis: 400px;
}

.shop_knap_forside {
    padding: 5px 10px 5px 10px;
    border: 1px solid;
    width: 120px;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Tenor Sans', sans-serif;
    margin: auto;
    z-index: 1000;
}

.shop_knap_forside:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
}
















































































/*-------------- #SHOP -----------------*/




#splash_shop {
    background-image: url(thumbnail_splash.png);
    width: 100vw;
    height: 44.2vw;
    background-size: cover;
    border-color: white;
    margin-bottom: 50px;

}

#shop #produkter {
    display: flex;
}

#shop .sectionwrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}


#shop .produkt {
    display: flex;
    flex-grow: 1;
    flex-basis: 200px;
    flex-direction: column;
    margin: 20px;

}

#shop .text {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2rem;

}

#produkter p {
    margin-bottom: 0;
    margin-top: 10px;
}


#splash_shop h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.5rem;
    position: relative;
    color: white;
    top: 15vw;
    font-weight: 100;
    text-align: center;
}

#produkter .overskrift {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 20px;
}
































































































/*-------------- #HAANDVAERKERE -----------------*/


#splash_haandvaerker {
    height: 70vw;
    width: 100vw;
    background-color: #f7c3bb;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#splash_haandvaerker .col {
    flex-basis: 250px;
    margin-top: 15px;
}

#splash_haandvaerker li {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 1rem;
    list-style-type: none;
    line-height: 23px;
}

#splash_haandvaerker li:hover {
    color: white;
}

#splash_haandvaerker .title {
    font-size: 3rem;
    font-family: 'Tenor Sans', sans-serif;
    padding-top: 80px;
    padding-left: 40px;
    margin-bottom: 10px;
}


#image_haandvaerker {
    background-image: url(billeder/1.jpg);
    width: 100vw;
    height: 75vw;
    background-size: cover;
}

#haandvaerker2 .sectionwrapper {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

#haandvaerkere .sectionwrapper {
    /*    margin: 70px 0 70px 0;*/
    padding: 20px 0 20px 0;
    box-shadow: none;

}

#haandvaerker1 .text {
    flex-basis: 600px;
    order: 2;
    position: relative;
    top: -40vw;
}

#haandvaerker1 .image {
    flex-basis: 600px;
    order: 1;
}


#haandvaerker3 .text {
    flex-basis: 600px;
    order: 2;
    position: relative;
    top: -40vw;
}

#haandvaerker3 .image {
    flex-basis: 600px;
    order: 1;
}


#haandvaerker2 .text {
    flex-basis: 600px;
    position: relative;
    top: -40vw;
}

#haandvaerker2 .image {
    flex-basis: 600px;
}


#haandvaerkere img {
    width: 100%;
    padding: 40px 20px 20px 20px;
}

.haandvaerker_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    padding: 0 20px 0 30px;
}

#haandvaerkere h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4rem;
    font-weight: 100;
}

#haandvaerkere .header {
    text-align: center;
    position: relative;
    top: -56vw;
}



.shop_knap {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    width: 120px;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Tenor Sans', sans-serif;
    margin: auto;
    z-index: 1000;

}

.shop_knap:hover {
    border: 1px solid black;
    background-color: black;
    color: white;

}


/*-------------- #OM_OS -----------------*/

#om_os1 .text {
    flex-basis: 500px;
    flex-wrap: wrap;
    padding: 20px;
}

#om_os1 .image {
    flex-basis: 500px;
    flex-wrap: wrap;
    padding: 20px;
}

#om_os h1 {
    font-size: 5rem;
    font-family: 'Tenor Sans', sans-serif;
    padding-left: 20px;
    text-align: center;


}


#om_os p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;

}

#om_os1 .col {
    flex-basis: 1000px;

}

#om_os1 .sectionwrapper {
    width: 1000px;
    justify-content: center;
    margin: auto;

}


#om_os h2 {
    font-size: 2rem;
    font-family: 'Tenor Sans', sans-serif;
    padding: 20px;
    text-align: left;
    margin: 0;

}




#om_os2 .sectionwrapper {
    width: 1000px;
    justify-content: center;
    margin: auto;
    padding: 20px;


}

#om_os2 h2 {
    text-align: left;
}

#om_os .splash_om_os {
    background-image: url(billeder/1.jpg);
    height: 40vw;
    width: 100vw;
}

#video video {
    padding: 20px;
}




















































/*-------------- #KONTAKT -----------------*/

#kort {
    margin: auto;
    background-color: #f7c3bb;
    padding: 20px;
}

iframe {
    margin: auto;
}



#splash_kontakt {
    display: flex;
    justify-content: center;
}
































































































/*-------------- #KURV -----------------*/

































































































/*-------------- #CHECKOUT -----------------*/


#checkout .col_wide {
    flex-basis: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#checkout .col_narrow {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    border: 1px solid #f7c3bb;
}

#checkout .col {
    flex-basis: 350px;
}

#checkout .col_narrow .col1 {
    flex-basis: 100px;
    padding: 20px;
    margin: 20px;
}

#checkout .col_narrow .col2 {
    flex-basis: 100px;
    text-align: right;
    padding: 20px;
    margin: 20px;
}

#checkout h1 {
    font-family: 'Tenor Sans', sans-serif;

}


#checkout .col_narrow p {
    font-family: 'Tenor Sans', sans-serif;

}

#checkout .col_wide input {
    width: 500px;
    background-color: #f7c3bb;
    border: none;
    padding: 5px;
}

#checkout form {
    font-family: 'Tenor Sans', sans-serif;
    padding: 5px;
}

#checkout .breadcrumbs {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.greytext {
    color: #e0dddd;
}

.textalignleft {
    text-align: left;
}

.textalignright {
    text-align: right;
}














































































































/*--------------------------#produkt----------------------*/
#produktside {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

#produktside .fotos {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}

#produktside .fotos img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
}

#produktside .fotos {


    flex-basis: auto;
}

#produktside img {

    padding-bottom: 20px;
    width: 75%;
}

#produktside .text {


    flex-basis: 600px;


}

#produktside .shop_knap_produkt {
    padding: 5px 10px 5px 10px;
    border: 1px solid #F7C3BB;
    width: 120px;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    margin: auto;
    z-index: 1000;
    color: white;
    background-color: #F7C3BB;


}

#produktside .shop_knap_produkt:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

#produktside h1 {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 4vw;
    font-weight: 300;
    text-align: right;
}

#produktside h2 {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 4vw;
    text-align: left;
}

#produktside h3 {
    font-weight: 200;
    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 5vw;
    margin: 0;
    text-align: left;
}

#produktside p {

    font-family: 'Tenor Sans',
        sans-serif;
    font-size: 3vw;

    text-align: left;
}





































































































































































/* --------------------- MEDIA QUERY ----------------------------*/



@media only screen and (min-width: 600px) {






    /**--------NAV---------*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    header img {
        width: 20vw;
        left: 0;
    }

    #menu {
        background-color: transparent;

    }









































    /*------ HAANDVAERKERE---------*/
    .shop_knap {
        margin-left: 250px;
    }

    #haandvaerker1 h1 {
        position: relative;
        left: 25vw;
    }

    #haandvaerker2 h1 {
        position: relative;
        right: 5vw;
    }

    #haandvaerker3 h1 {
        position: relative;
        left: 15vw;
    }

    #haandvaerker1 .text,
    #haandvaerker2 .text,
    #haandvaerker3 .text {
        top: 0;
        order: 0;
    }

    #haandvaerkere .header {
        text-align: center;
        position: relative;
        top: 0vw;
    }

    #splash_haandvaerker {
        height: 350px;
    }





































    /**------SHOP--------*/

    #shop .sectionwrapper {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #shop .produkt {
        flex-basis: 300px;
    }

    #splash_shop h1 {
        font-size: 5rem;
    }


























































    /*---- FORSIDE -----*/

    #forside .splash_text {

        position: relative;
        top: -30vw;
        color: white;
        border: white;
        align-self: center;
    }

    #forside h1 {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 3vw;
        text-align: center;
    }

    #forside h2 {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 8vw;

        border: solid black;
        width: 140px;
        text-align: center;
    }

    #forside h3 {
        font-weight: 100;
        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 6vw;
        margin: 0;
        text-align: center;
    }

    #forside p {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 1.5vw;

        text-align: center;
    }


    img {
        width: 100%;
    }

    #forside .col1 {
        justify-content: center;
        position: relative;
        top: 0vw;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }

    #forside .col2 {
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
        top: 0vw;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }

    #forside .col3 {
        justify-content: center;
        position: relative;
        top: 0vw;
        display: flex;
        flex-wrap: wrap;
    }



    #forside .image {
        flex-basis: 600px;

    }

    #forside .col1 .image {
        position: relative;
        left: -11vw;
        z-index: -1000;
    }

    #forside .col2 .image {
        position: relative;
        left: 11vw;
        z-index: -1000;
    }

    #forside .col3 .image {
        position: relative;
        left: -11vw;
        z-index: -1000;
    }

    #forside .title {
        flex-basis: 400px;
        position: relative;
        top: 60px;
    }

    #forside .text {
        flex-basis: 400px;
    }

    #forside .text {
        align-self: center;
    }

    #forside .col1 .text {
        position: relative;
        left: -40px;
    }

    #forside .col2 .text {
        position: relative;
        left: 40px;
    }

    #forside .col3 .text {
        position: relative;
        left: -40px;
    }

    .shop_knap_forside {
        padding: 5px 10px 5px 10px;
        border: 1px solid;
        width: 120px;
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
        font-family: 'Tenor Sans', sans-serif;
        margin: auto;
        z-index: 1000;
    }

    .shop_knap_forside:hover {
        border: 1px solid white;
        background-color: white;
        color: black;
    }




    /*-------------produkt-----------------*/



    #produktside {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }

    #produktside .fotos {
        flex-direction: column;

        flex-basis: 800px;
    }

    #produktside img {

        padding-bottom: 20px;
        width: 75%;
    }

    #produktside .text {


        flex-basis: 600px;


    }

    #produktside .shop_knap_produkt {
        padding: 5px 10px 5px 10px;
        border: 1px solid #F7C3BB;
        width: 120px;
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
        font-family: 'Tenor Sans', sans-serif;
        margin: auto;
        z-index: 1000;
        color: white;
        background-color: #F7C3BB;


    }

    #produktside .shop_knap_produkt:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
    }

    #produktside h1 {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 2vw;
        font-weight: 300;
        text-align: right;
    }

    #produktside h2 {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 2vw;
        text-align: left;
    }

    #produktside h3 {
        font-weight: 200;
        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 2.5vw;
        margin: 0;
        text-align: left;
    }

    #produktside p {

        font-family: 'Tenor Sans',
            sans-serif;
        font-size: 1.25vw;

        text-align: left;
    }



















































































































    /**------OM OS--------*/
